@media (max-width: 480px) {
    section{
        padding-bottom: 128px;
    }    
    /*ВЫПАДАЮЩЕЕ МЕНЮ*/
    .custom-select {
        position: relative;
        min-width: 150px;
    }
    /*ЧЕК БОКСЫ*/
    
    /* ХЕДЕР //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .burger-btn{
        display: flex;
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: var(--three);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    }
    .burger-btn svg{
        position: absolute;
        top: 21px;
        right: 12px;
    }
    .logo-head{
        width: 30%;
    }
    .nav-head{
        display: none;
    }
    .phone-header-box{
        display: none;
    }
    /*С фоном на всю ширину//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .img-fw-box{
        height: 50vh;
    }
    .img-fw-text-box{
        gap: 8px;
    }
    .img-fw-text-box p{
        margin-bottom: 70px;
    }
    /*Поиск //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .search h2{
        display: none;
    }
    .search-input-box{
        justify-content: space-between;
    }
    .search-input-box input{
        width: calc(70% - 46px);
        border: 0;
    }
    .search-input-box a{
        display: none;
        width: max-content;
        max-width: calc(30% - 22px);
        justify-content: end;
        border-left: 1px solid var(--foo);
    }
    .search-input-box a:last-child{
        display: flex;
        border-right: 0px;
    }
    .search-icon{
        width: 24px;
        height: 24px;
    }
    .search-filter-box{
        gap: 10px;
    }
    .search-filter-box img{
        object-fit: contain;
    }
    .search-btn-box{
        gap: 12px;
        justify-content: space-between;
    }
    .search-btn-box a{
        width: calc(50% - 12px);
        justify-content: center;
    }
    /*Слайдер с ЖК //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .slider-jk-top{
        justify-content: center;
    }
    .slider-jk-top .btn{
        display: none;
    }
    /*Секция о нас //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .about{
        gap: 56px;
        flex-wrap: wrap;
    }
    .about-text-box{
        gap: 24px;
        flex-wrap: wrap;
    }
    .about-text-box>div{
        width: calc(100%);
    }
    .about-text-box>div:first-child{
        gap: 12px;
    }
    .about-advantages-box{
        width: 100%;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .about-advantages-item{
        width: calc(100% - 30px - 40px);
        gap: 24px;
    }
    /*Оранжевые секции ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .feedback-box{
        gap: 28px;
        padding: 32px 16px;
        flex-wrap: wrap;
    }
    .feedback-box>div{
        width: calc(100%);
    }
    .feedback-left-box{
        gap: 24px;
    }
    .feedback-personal-manager-box{
        margin-top: 16px;
        order: 1;
        gap: 17px;
    }
    .feedback-personal-manager-photo{
        border-radius: 10px;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }
    .feedback-personal-manager-text{
        gap: 8px;
    }
    .feedback-input-box{
        gap: 12px;
        margin-bottom: 12px;
        flex-wrap: wrap;
    }
    .feedback-input-box>input:nth-child(1){
        width: calc(100%);
    }
    .feedback-input-box>input:nth-child(2){
        width: calc(100%);
    }
    .feedback-input-box>input:nth-child(3){
        width: calc(100%);
    }
    /*секция сотрудники ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .employee-section{
        gap: 32px;
    }
    .employee-btn-box{
        width: 100%;
        gap: 8px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .employee-btn-box .btn{
        width: 100%;
    }
    .employee-photo{
        width: 100%;
        height: calc(80vw - 80px);
    }
    /*секция партнеры*/
    .company-box{
        gap: 32px;
    }
    /*СТРАНИЦА ПРОЕКТЫ //////////////////////////////////////////////////////////////////////////////*/
    /*Секция с проектами*/
    .project-head-box{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        flex-wrap: wrap;
        gap: 16px;
    }
    .project-head-sorter-mobile{
        gap: 12px;
        align-items: center;
    }
    .project-head-sorter-mobile .custom-select{
        display: none;
    }
    .project-head-box h2{
        width: 100%;
    }
    .project-head-sorter{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
    .project-head-btn-filter{
        display: flex;
        border-radius: 10px;
        background-color: var(--three);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 14px 16px;
    }
    .custom-select-mobile{
        display: flex;
        border-radius: 10px;
        background-color: var(--three);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 14px 16px;
    }
    .project-tile-box{
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-tile-box>li.slider-one-jk-box{
        width: calc(100% - 26.66px - 40px);
    }
    .project-section>a{
        width: calc(100% - 30px);
    }
    .project-list-box{
        display: none;
    }
    .project-list-box-mobile{
        display: flex;
        gap: 16px;
        margin-bottom: 32px;
    }
    .project-list-photo-box{
        width: 100%;
        justify-content: space-between;
    }
    .project-list-photo{
        width: 30vw;
        height: 15vw;
    }
    .project-list-jk-btn-text{
        gap: 8px;
        width: max-content;
        height: max-content;
    }
    .project-list-text{
        width: calc(100%);
        justify-content: space-between;
        gap: 8px;
        margin-top: 20px;
    }
    .project-list-jk-info-box{
        width: calc(50% - 8px);
        gap: 8px;
        justify-content: space-between;
    }
    .project-list-jk-low-info-box{
        width: calc(50% - 8px);
        text-align: end;
        gap: 8px;
    }
    .project-list-jk-info{
        width: calc(100%);
    }
    /*СТРАНИЦА ЖК ///////////////////////////////////////////////////////////////////////////////////*/
    /*Секция общая информация о ЖК*/
    .one-jk-search{
        gap: 28px;
    }
    .one-jk-filter-box{
        margin-bottom: 48px;
    }
    .one-jk-general-info{
        gap: 24px;
        flex-wrap: wrap;
    }
    .one-jk-general-info>div{
        width: calc(100%);
    }
    .one-jk-swiper-bottom,
    .one-jk-swiper{
        width: 100%;
    }
    .one-jk-swiper{
        height: 20vh;
    }
    .one-jk-swiper-bottom .swiper-slide>div{
        border-radius: 5px;
    }
    /*Секция поиска квартир*/
    .search-one-jk-input-box input{
        width: calc(70% - 46px);
    }
    .search-one-jk-input-box a{
        display: none;
    }
    .search-one-jk-input-box a:nth-child(6){
        display: flex;
        padding: 0;
        border: 0;
        width: calc(30%);
        align-items: center;
        justify-content: end;
    }
    .search-one-jk-btn-box{
        flex-wrap: wrap;
    }
    .search-one-jk-btn-left-box{
        width: 100%;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search-one-jk-two-btn{
        width: 100%;
    }
    .search-one-jk-two-btn>a{
        padding: 7px 8px;
        gap: 4px;
        width: 50%;
    }
    .one-jk-gray-btn{
        padding: 7px 8px;
        gap: 4px;
    }
    .search-one-jk-btn-box>div.custom-select{
        display: none;
    }
    .search-one-jk-btn-box .custom-select-mobile{
        display: none;
    }
    .search-one-jk-btn-left-box .search-custom-select-mobile.custom-select-mobile{
        display: flex;
    }
    .drop-down-one-apartment p{
        display: none;
    }
    .drop-down-one-apartment p:first-child,
    .drop-down-one-apartment p:last-child{
        display: flex;
    }
    .apartments-swiper .swiper-slide{
        width: calc(100% - 40px)!important;
    }
    /*Секция об обьекте*/
    .one-jk-benefits-title{
        margin-bottom: 32px;
    }
    .one-jk-benefits-box{
        flex-wrap: wrap;
    }
    .one-jk-benefits-left{
        width: calc(100%);
        gap: 8px;
        flex-wrap: wrap;
    }
    .one-jk-benefits-img-box{
        width: calc(50% - 4px);
        gap: 8px;
        margin-bottom: 16px;
    }
    .one-jk-benefits-right{
        width: calc(100%);
    }
    /*СТРАНИЦА ПЛАНИРОВКИ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .plan-filter-main-box{
        gap: 16px;
        justify-content: space-between;
    }
    .plan-filter-box{
        display: none;
    }
    .plan-general-info{
        width: 100%;
        gap: 0px;
        flex-wrap: wrap;
    }
    .plan-swiper{
        width: calc(100%);
        height: 20vh;
        border-radius: 10px;
    }
    .plan-info-box{
        gap: 12px;
        width: calc(100% - 20px);
    }
    .plan-info-btn-box{
        gap: 8px;
        width: 100%;
    }
    .plan-filter-icon-box{
        margin-bottom: 64px;
        gap: 8px;
        flex-wrap: wrap;
    }
    .plan-filter-icon-box li{
        padding: 10px 10px;
    }
    .plan-filter-icon-box li:last-child{
        padding: 10px 10px;
        border-radius: 10px;
        margin-left: 4px;
    }
    .plan-filter-icon-box li:last-child a{
        align-items: center;
        gap: 4px;
    }
    /*ВЫБОР КВАРТИРЫ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /*Секция фильтра квартир*/
    .apartment-filter-box{
        gap: 12px;
    }
    .apartment-filter-top-box{
        display: none;
    }
    .apartment-filter-box-mobile{
        display: flex;
        justify-content: space-between;
    }
    .apartment-filter-box-mobile-section{
        padding-bottom: 30px;
    }

    .choose-apartment-head p{
        width: calc(33% - 16px);
    }
    .choose-apartment-head p:nth-child(4),
    .choose-apartment-head p:nth-child(5),
    .choose-apartment-head p:nth-child(6){
        display: none;
    }
    .choose-apartment-item div{
        padding-right: 24px;
        width: calc(40% - 16px - 24px);;
        gap: 4px;
    }
    .choose-apartment-item>p{
        width: calc(30% - 16px);
    }
    .choose-apartment-item p:nth-child(4),
    .choose-apartment-item p:nth-child(5),
    .choose-apartment-item p:nth-child(6){
        display: none;
    }
    .choose-apartment a {
        width: calc(100% - 30px);
    }
    /*КАЛЬКУЛЯТОР ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .calculator h1{
        margin-bottom: 24px;
    }
    .calculator>div{
        flex-wrap: wrap;
    }
    .calculator-box{
        gap: 24px;
        width: calc(100% - 20px);
        padding-right: 0px;
        border-right: 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
        background-color: var(--three);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 64px;
    }
    .calculator-result{
        gap: 12px;
        width: 100%;
        margin-left: 0px;
    }
    .calculator-result-head{
        display: none;
    }
    .calculator-result-item{
        flex-direction: column;
        padding: 5px;
    }
    .calculator-result-item>div:first-child{
        width: calc(50%);
        height: 40px;
        align-self: flex-start;
    }
    .calculator-result-text-box{
        width: calc(100%);
        height: 40px;
        justify-content: space-between;
    }
    .calculator-result-text-box p:first-child{
        display: flex;
        width: calc(70%);
    }
    .calculator-result-text-box p:last-child{
        text-align: end;
        width: calc(30%);
    }
    /*ВСЕ ОБ ИПОТЕКЕ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .credit-info h1{
        width: 100%;
    }
    .credit-info-box{
        flex-wrap: wrap;
    }
    .credit-info-box p{
        width: calc(100%);
    }
    .credit-info-btn-box{
        width: calc(100%);
        justify-content: space-between;
        gap: 24px;
    }
    .credit-info-btn-box .btn{
        width: calc(100% - 30px);
    }
    .credit-info-doc{
        gap: 32px;
        margin-top: 32px;
    }
    .credit-info-doc-main-box{
        gap: 32px;
        flex-wrap: wrap;
    }
    .credit-info-doc-box{
        width: calc(100% - 20px);
        gap: 24px;
    }
    .credit-info-doc-item{
        gap: 8px;
    }
    /*КОНТАКТЫ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .contact-main-box{
        gap: 72px;
        flex-wrap: wrap;
    }
    .contact-text-box{
        width: calc(100%);
        gap: 24px;
    }
    .contact-text-box>a{
        width: calc(100% - 30px);
    }
    .contact-main-text{
        gap: 12px;
        margin-bottom: 24px;
    }
    .contact-main-text>div{
        gap: 8px;
    }
    .contact-btn-box{
        flex-wrap: wrap;
    }
    .contact-map-box{
        width: calc(100%);
        border-radius: 10px;
    }
    /*ФУТЕР ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .footer{
        gap: 32px;
        padding: 32px 0 20px 0;
    }
    .footer-top-box{
        gap: 24px;
        flex-wrap: wrap;
    }
    .footer-top-item{
        width: calc(100%);
    }
    .footer-bottom-item{
        margin-top: 24px;
    }
}