*{
    margin: 0;
    padding: 0;  
}
main{
    border-bottom: 10px solid purple;
}
:root{
    --one: #CE3A13;
    --two: #000000;
    --three: #FFFFFF;
    --foo: rgb(222, 220, 220);
    --five: #505050;
    --six: #E16C45;
    --seven: #FAFAFA;
}
@font-face {
	font-family: 'Cormorant-Italic'; 
	src: url(fonts/Cormorant-Italic.ttf); 
}
body{
    background-color: var(--seven);
}
.wrapper{
    overflow: hidden;
    color: var(--two);
}
.content{
    margin: 0 auto;
    width: clamp(393px, 91.5vw, 1440px);
}
section{
    padding-bottom: 128px;
}
.flex{
    display: flex;
}
.column-flex{
    flex-direction: column;
}
.row-flex{
    flex-direction: row;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
ul{
    list-style: none;
}
/*ТЕКСТ /////////////*/
h1{
    font-size: clamp(32px, 4vw, 56px);
    font-weight: 500;
}
h2{
    font-size: clamp(26px, 3vw, 34px);
    font-weight: 500;
}
p, a, label{
    font-size: clamp(14px, 3vw, 16px);
}
a{
    text-decoration: none;
}
span{
    font-size: 61px;
    font-weight: 500;
}
.text-size12{
    font-size: 12px;
}
.text-size14{
    font-size: 14px;
}
.text-size18{
    font-size: clamp(16px, 3vw, 18px);
}
.text-size20{
    font-size: clamp(16px, 3vw, 20px);
}
.white-text{
    color: var(--three);
}
.orange-text{
    color: var(--one);
}
.dark-gray-text{
    color: var(--five);
}
.light-gray-text{
    color: var(--five);
}
.medium-text{
    font-weight: 500;
}
.bold-text{
    font-weight: 700;
}
/*КНОПКИ /////////////*/
a{
    cursor: pointer;
}
.btn{
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}
.btn img{
    width: 24px;
    height: 24px;
}
.btn-orange{
    background-color: var(--one);
    color: var(--seven);
    transition: 0.5s;
}
.btn-orange:hover,
.btn-orange:active{
    background-color: var(--six);
    transition: 0.5s;
}
.btn-orange:disabled{
    background-color: var(--foo);
}
.btn-full-gray{
    background-color: var(--seven);
    transition: 0.5s;

}
.btn-full-gray:hover,
.btn-full-gray:active{
    background-color: var(--six);
    color: var(--seven);
    transition: 0.5s;
}
.btn-full-gray:disabled{
    background-color: var(--foo);
    color: var(--seven);
}
.btn-gray{
    background-color: var(--seven);
    outline: 1px solid var(--one);
    color: var(--two);
    transition: 0.5s;
}
.btn-gray:hover,
.btn-gray:active{
    transition: 0.5s;
    outline: 3px solid var(--one);
}
.btn-gray:disabled{
    background-color: var(--foo);
    outline: 0px;
    color: var(--seven);
}

/*ВЫПАДАЮЩЕЕ МЕНЮ*/
.custom-select {
    position: relative;
    min-width: 150px;
}
.custom-select select {
    display: none;
}
.select-selected {
    border-radius: 10px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
}
.custom-select-gray .select-selected {
    border-radius: 25px;
    background-color: var(--seven);
    border: 1px solid var(--two);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.0);
    position: relative;
    z-index: 3;
}
.select-selected:after {
    position: absolute;
    content: url(img/icon/expand_more.png);
    top: 14px;
    right: 26px;
    width: 0;
    height: 0;
}
.select-selected.select-arrow-active:after {
    content: url(img/icon/expand_less.png);
}
.select-items div,.select-selected {
    padding: 14px 16px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
.select-items {
    position: absolute;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    top: calc(100% - 20px);
    padding-top: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 10px;
    transition: 0.3s;
}
.select-hide {
    display: none;
    transition: 0.3s;
}
.select-items div:hover, .same-as-selected {
    color: var(--one);
    transition: 0.3s;
}
.select-items div:disabled{
    color: var(--foo);
}
.expand-more{
    width: 10px;
    height: 10px;
}
/*ЧЕК БОКСЫ*/
.checkbox-rect input[type="checkbox"] {
    display: none;
}
.checkbox-rect input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.checkbox-rect input[type="checkbox"]:hover + label:before {
    background: var(--six);
    box-shadow: inset 0px 0px 0px 2px var(--three);
}
.checkbox-rect input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--three);
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: var(--one);
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 2px solid var(--one);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: var(--three);
    box-shadow: 0 0 0 1px var(--three);
}
.checkbox-filter input[type="checkbox"] {
    display: none;
}
.checkbox-filter input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.checkbox-filter input[type="checkbox"]:hover + label:before {
    background: var(--six);
    box-shadow: inset 0px 0px 0px 2px var(--three);
}
.checkbox-filter input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid var(--one);
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: var(--three);
}
.checkbox-filter input[type="checkbox"]:checked + label:before {
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 1px solid var(--one);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: var(--one);
    box-shadow: inset 0 0 0 2px var(--three);
}
/* ХЕДЕР //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.burger-btn{
    display: none;
}
header{
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.header-box{
    height: 90px;
    justify-content: space-between;
    align-items: center;
}
.logo-head{
    width: 15%;
    height: 100%;
    align-items: start;
}
.logo-head img{
    object-fit: contain;
}
.nav-head{
    width: calc(70% - 20px);
    justify-content: center;
    height: 100%;
}
.nav-head-box{
    gap: 20px;
    height: 100%;
    align-items: center;
}
.phone-header-box{
    width: 15%;
    height: 100%;
    align-items: end;
    justify-content: center;
}
/*С фоном на всю ширину//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img-fw-box{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: black;
}
.img-fw-box img{
    opacity: .8;
}
.img-fw-text-box{
    position: absolute;
    text-align: center;
    top: 25%;
    gap: 10px;
    width: 100%;
}
.img-fw-text-box p{
    margin-bottom: 27px;
}
.img-fw-text-box a{
    margin: 0 auto;
    width: max-content;
}
/*Поиск //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.search h2{
    margin: 0 auto;
    margin-bottom: 48px;
}
.search-tab {
    overflow: hidden;
    width: max-content;
    border-radius: 10px 10px 0px 0;
    background-color: var(--three);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
}
.search-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 10px;
    font-size: 14px;
}
.search-tab button:first-child {
    border-right: 1px solid var(--two);
    transition: 0.5s;
}
.search-tab button:last-child {
    border-left: 1px solid var(--two);
    transition: 0.5s;
}
.search-tab button:hover {
    background-color: var(--six);
    color: var(--three);
    transition: 0.5s;
}
.search-tab button.active {
    border: 0;
    background-color: var(--one);
    color: var(--three);
}
.search-tabcontent {
    display: none;
    border-top: none;
}
#Apartments {
    display: flex;
}
.search-input-box{
    padding: 20px;
    background-color: var(--three);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 10px 10px 10px;
    align-items: center;
    margin-bottom: 16px;
}
.search-input-box input{
    border: 0px;
    padding: 0px 10px;
    width: calc(40% - 46px);
    border-right: 1px solid var(--foo);
    height: 100%;
    transition: 0.5s;
}
.search-input-box input:hover,
.search-input-box input:active,
.search-input-box input:focus{
    outline: 0px;
    transition: 0.5s;
}
.search-input-box a{
    padding: 0px 10px;
    width: calc(15% - 22px);
    border-right: 1px solid var(--foo);
    text-align: center;
}
.search-input-box a:last-child{
    border-right: 0px;
}
.search-icon{
    width: 24px;
    height: 24px;
}
.search-filter-box{
    gap: 10px;
}
.search-filter-box img{
    object-fit: contain;
}
.search-btn-box{
    gap: 12px;
    justify-content: end;
}
/*Слайдер с ЖК //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.slider-jk-box{
    gap: 36px;
}
.slider-jk-top{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.jk-Swiper{
    width: calc(100% - 20px);
    padding: 20px;
}
.slider-one-jk-box{
    width: calc(100% - 40px);
    gap: 16px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--three);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
a.slider-one-jk-box{
    width: calc(100%);
    gap: 16px;
    padding: 0px;
    border-radius: 0px;
    background-color: var(--three);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0);
}
.slider-one-jk-photo-box{
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50%;
    background-color: black;
    overflow: hidden;
}
.slider-one-jk-photo-box img{
    opacity: 0.8;
}
.slider-one-jk-photo-text{
    position: absolute;
    top: 5%;
    left: 5%;
    gap: 8px;
}
.slider-one-jk-photo-text p{
    padding: 4px;
    color: var(--three);
    background-color: var(--six);
    border-radius: 10px;
}
.slider-one-jk-info{
    gap:8px;
}
.slider-one-jk-info-appartament{
    justify-content: space-between;
}
.slider-one-jk-low-info{
    gap: 4px;
}
.swiper-button-next,
.swiper-button-prev{
    width: 44px;
    height: 44px;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}
.slider-jk-box>a.btn{
    margin: 0 auto;
}
/*Секция о нас //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.about{
    gap: 48px;
}
.about-text-box{
    gap: 80px;
}
.about-text-box>div{
    width: calc(50% - 40px);
}
.about-text-box>div:first-child{
    gap: 24px;
}
.about-advantages-box{
    width: 100%;
    gap: 40px;
    justify-content: space-between;
}
.about-advantages-item{
    width: calc(25% - 30px - 40px);
    gap: 60px;
    padding: 20px 20px 20px 20px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
/*Оранжевые секции ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.feedback-box{
    background-color: var(--one);
    border-radius: 10px;
    gap: 128px;
    padding: 48px 32px;
}
.feedback-box>div{
    width: calc(50% - 64px);
}
.feedback-left-box{
    gap: 24px;
}
.feedback-personal-manager-box{
    margin-top: 16px;
    gap: 17px;
}
.feedback-personal-manager-photo{
    border-radius: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.feedback-personal-manager-text{
    gap: 8px;
}
.feedback-input-box{
    gap: 24px;
    margin-bottom: 16px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback-input-box>input:nth-child(1){
    width: calc(50% - 24px);
}
.feedback-input-box>input:nth-child(2){
    width: calc(50% - 24px);
}
.feedback-input-box>input:nth-child(3){
    width: calc(100%);
}
.feedback-check-box{
    gap: 12px;
    margin-bottom: 24px;
}
/*секция сотрудники ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.employee-section{
    gap: 48px;
}
.employee-Swiper{
    width: calc(100% - 20px);
    padding: 20px;
}
.employee-item{
    width: calc(100% - 40px);
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    gap: 16px;
}
.employee-photo{
    width: 100%;
    height: 30vh;
}
.employee-photo img{
    border-radius: 10px;
}
.employee-text-box{
    gap: 8px;
}
.employee-btn-box{
    gap: 16px;
    margin: 0 auto;
}
/*секция партнеры*/
.company-box{
    gap: 48px;
}
.company-Swiper{
    width: 100%;
    margin: 0;
    align-self: end;
}
.company-Swiper .swiper-wrapper{
    width: calc(100%);
}
.company-swiper-slide{
    height: calc(18.75vw - 20px)!important;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
}
.company-swiper-slide img{
    object-fit: contain;
}
/*СТРАНИЦА ПРОЕКТЫ //////////////////////////////////////////////////////////////////////////////*/
/*Секция с проектами*/
.project-head-box{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
.project-head-sorter{
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}
.project-head-btn-filter{
    display: none;
}
.custom-select-mobile{
    display: none;
}
.switch{
    position: relative;
    align-items: center;
    justify-content: center;
    height: max-content;
}
.switch-img-box{
    position: absolute;
    left: 4px;
    top: 4px;
    width: calc(75px - 8px);
    justify-content: space-between;
    pointer-events: none;
}
.switch-img-box>div{
    width: 27px;
    height: 27px;

}
.switch-img-box>div svg{
    width: 100%;
    height: 100%;
}
.project-switch-input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}
.project-switch-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 75px;
    height: 35px;
    background: var(--six);
    display: flex;
    border-radius: 100px;
    position: relative;
}
.project-switch-label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 31px;
    height: 31px;
    background: #fff;
    border: 2px solid var(--one);
    border-radius: 90px;
    transition: 0.3s;
}
.project-switch-input:checked + .project-switch-label:after {
    left: calc(100%);
    transform: translateX(-100%);
}
.switch-img-box>div svg rect{
    transition: 0.3s;
}
.project-switch-input:checked~.switch-img-box>div:first-child svg rect{
    fill: var(--three);
    transition: 0.3s;
}
.project-switch-input:checked~.switch-img-box>div:last-child svg rect{
    fill: var(--one);
    transition: 0.3s;
}
.project-tile-box{
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.project-tile-box>li.slider-one-jk-box{
    width: calc(33.33% - 26.66px - 40px);
}
.project-section>a{
    align-self: center;
}
.project-list-box{
    gap: 16px;
    margin-bottom: 48px;
}
.project-list-box-mobile{
    display: none;
}
.project-list-item{
    width: calc(100% - 40px);
    padding: 20px;
    background: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    border-radius: 10px;
    gap: 40px;
}
a.project-list-item{
    width: calc(100%);
    padding: 0px;
    background: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
    gap: 40px;
}
.project-list-photo{
    width: 10vw;
    height: 7vw;
    border-radius: 10px;
    overflow: hidden;
}
.project-list-text{
    width: calc(100% - 10vw - 40px);
    justify-content: space-between;
    gap: 8px;
}
.project-list-jk-info-box{
    width: calc(30% - 8px);
    gap: 8px;
    justify-content: space-between;
}
.project-list-jk-main-info{
    gap: 8px;
    width: 100%;
}
.project-list-jk-info p{
    gap: 8px;
    width: 100%;
}
.project-list-jk-btn-text{
    gap: 8px;
    width: 100%;
}
.project-list-jk-btn-text p{
    border: 1px solid var(--one);
    border-radius: 10px;
    padding: 4px;
}
.project-list-jk-low-info-box{
    width: calc(30% - 8px);
    gap: 8px;
}
.project-list-jk-low-info{
    gap: 4px;
}
.project-list-jk-info{
    width: calc(40% - 8px);
    gap: 8px;
}
.project-list-jk-info-appartament{
    justify-content: space-between;
    gap: 8px;
}
.project-list-jk-info-appartament>p:last-child{
    text-align: end;
}
/*СТРАНИЦА ЖК ///////////////////////////////////////////////////////////////////////////////////*/
/*Секция общая информация о ЖК*/
.one-jk-search{
    gap: 48px;
}
.one-jk-title{
    margin-bottom: 32px;
}
.one-jk-filter-box{
    margin-bottom: 64px;
    padding: 10px;
    gap: 12px;
    overflow-x: scroll;
}
.one-jk-filter-box li{
    width: max-content;
    padding: 12.5px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    background-color: var(--three);
}
.one-jk-filter-box li:hover,
.one-jk-filter-box li:active{
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
    transition: 0.5s;
}
.one-jk-filter-box li.one-jk-filter-item-select{
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, .2);
}
.one-jk-filter-box li p span{
    font-size: clamp(14px, 3vw, 16px);
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
    color: var(--three);
    background-color: var(--one);
}
.one-jk-general-info{
    width: 100%;
    gap: 40px;
}
.one-jk-general-info>div{
    width: calc(70% - 20px);
}
.one-jk-swiper-bottom,
.one-jk-swiper{
    width: 100%;
}
.one-jk-swiper{
    margin-bottom: 24px;
    height: 50vh;
    border-radius: 10px;
}
.one-jk-swiper-bottom{
    margin-bottom: 20px;
}
.one-jk-swiper-bottom .swiper-slide>div{
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.one-jk-swiper-bottom .swiper-slide>div>img{
    overflow: hidden;
}
.one-jk-info-box{
    gap: 12px;
    width: calc(30% - 20px);
}
.one-jk-info-select-form{
    border-radius: 10px;
    width: calc(100% - 20px);
    padding: 10px 0px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
}
.one-jk-info-select-form select{
    border: 0;
    width: calc(100%);
    padding: 10px;
}
.one-jk-info-text-box li{
    width: calc(100% - 20px);
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid var(--foo);
    gap: 24px;
}
.one-jk-info-text-box li>p{
    width: calc(50% - 12px);
}
.one-jk-info-text-box li>p:last-child{
    text-align: end;
}
/*Секция поиска квартир*/
.search-one-jk-input-box{
    padding: 20px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    align-items: center;
    margin-bottom: 16px;
}
.search-one-jk-input-box input{
    border: 0px;
    padding: 0px 10px;
    width: calc(40% - 46px);
    border-right: 1px solid var(--seven);
    transition: 0.5s;
    height: 100%;
}
.search-one-jk-input-box input:hover,
.search-one-jk-input-box input:active,
.search-one-jk-input-box input:focus{
    transition: 0.5s;
    outline: 0px;
}
.search-one-jk-input-box a{
    padding: 0;
    width: calc(12%);
    border-right: 1px solid var(--foo);
    text-align: center;
}
.search-one-jk-input-box a:last-child{
    border-right: 0px;
}
.search-one-jk-icon{
    width: 24px;
    height: 24px;
}
.search-one-jk-filter-box{
    gap: 10px;
    margin: 0px 10px;
}
.search-one-jk-filter-box img{
    object-fit: contain;
}
.search-one-jk-btn-box{
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.search-one-jk-btn-left-box{
    gap: 16px;
}
.search-one-jk-two-btn>a{
    background-color: var(--foo);
    color: var(--two);
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.search-one-jk-two-btn>a:hover,
.search-one-jk-two-btn>a:active{
    background-color: var(--six);
    color: var(--two);
    transition: 0.5s;
}
.search-one-jk-two-btn>a:hover svg>path,
.search-one-jk-two-btn>a:active svg>path{
    stroke: var(--two);
    transition: 0.5s;
}
.search-one-jk-two-btn>a:first-child{
    border-radius: 10px 0px 0px 10px;
}
.search-one-jk-two-btn>a:last-child{
    border-radius: 0px 10px 10px 0px;
}
.search-one-jk-two-btn>.one-jk-select-btn{
    background-color: var(--one);
    color: var(--three);
}
.search-one-jk-two-btn>.one-jk-select-btn svg>path{
    stroke: var(--three);
}
.one-jk-gray-btn{
    border-radius: 10px;
    background-color: var(--foo);
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.one-jk-gray-btn:hover,
.one-jk-gray-btn:active{
    background-color: var(--six);
    color: var(--two);
    transition: 0.5s;
}
.one-jk-gray-btn:hover svg>path,
.one-jk-gray-btn:active svg>path{
    stroke: var(--two);
    transition: 0.5s;
}
/*ТУТ*/
.one-jk-sorted-form{
    width: calc(100% + 20px);
    border-radius: 10px;
    padding-right: 16px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    align-items: center;
}
.one-jk-sorted-form select{
    width: calc(100%);
    border-radius: 10px;
    padding: 14px 16px;
    background-color: var(--three);
    align-items: center;
    border: 0;
}
.one-jk-types-apartments{
    gap: 8px;
}
.drop-down-one-apartment{
    width: calc(100% - 40px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    padding: 27px 20px;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}
.apartments-swiper{
    padding: 20px 10px 24px 10px;
}
.apartments-swiper .swiper-slide{
    width: calc(33.33% - 75.33px)!important;
    gap: 16px;
    padding: 20px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
.apartments-swiper-img-box{
    position: relative;
    border-radius: 10px;
}
.apartments-swiper-img-text{
    gap: 8px;
    position: absolute;
    top: 17px;
    left: 14px;
}
.apartments-swiper-img-text p{
    padding: 4px 8px;
    background-color: var(--foo);
    border-radius: 5px;
}
.apartments-swiper-info{
    gap: 12px;
}
/*Секция с картой*/
.one-jk-map{
    width: 100%;
}
.one-jk-map-btn-box>div{
    background-color: var(--three);
    padding: 12px 16px;
    box-shadow: 0px 5px 5px 0px  rgba(0, 0, 0, .2);
}
.one-jk-map-btn-box>div:nth-child(1){
    border-radius: 0px 0px 0px 10px;
}
.one-jk-map-btn-box>div:nth-child(2){
    border-radius: 0px 0px 0px 0px;
}
.one-jk-map-btn-box>div:nth-child(3){
    border-radius: 0px 0px 10px 0px;
}
/*Секция об обьекте*/
.one-jk-benefits-title{
    margin-bottom: 48px;
}
.one-jk-benefits-box{
    justify-content: space-between;
    gap: 40px;
}
.one-jk-benefits-left{
    width: calc(50% - 20px);
    gap: 40px;
    flex-wrap: wrap;
}
.one-jk-benefits-img-box{
    width: calc(50% - 20px);
    gap: 16px;
}
.one-jk-benefits-img{
    height: 20vh;
    border-radius: 10px;
    overflow: hidden;
}
.one-jk-benefits-right{
    width: calc(50% - 20px);
    gap: 24px;
}
/*СТРАНИЦА ПЛАНИРОВКИ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.plan-filter-main-box{
    gap: 16px;
    justify-content: space-between;
}
.plan-filter-box{
    margin-bottom: 64px;
    gap: 12px;
    flex-wrap: wrap;
}
.plan-filter-box li{
    width: max-content;
    padding: 12.5px 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--three);
    align-items: center;
    align-self: center;
}
.plan-general-info{
    width: 100%;
    gap: 40px;
}
.plan-swiper{
    width: calc(70% - 20px);
    margin-bottom: 24px;
    height: 50vh;
    border-radius: 10px;
}
.plan-swiper .swiper-slide>div {
    width: 100%;
    height: 100%;
    img{
        object-fit: contain;
    }
}
.plan-info-box{
    gap: 12px;
    width: calc(30% - 20px);
}
.plan-info-text-box li{
    width: 100%;
    justify-content: space-between;
    padding: 12px 10px;
    border-bottom: 1px solid var(--foo);
    gap: 24px;
}
.plan-info-text-box li>p{
    width: calc(50% - 12px);
}
.plan-info-text-box li>p:last-child{
    text-align: end;
}
.plan-info-btn-box{
    gap: 16px;
}
.plan-filter-icon-box{
    margin-bottom: 64px;
    gap: 16px;
    flex-wrap: wrap;
}
.plan-filter-icon-box li{
    width: max-content;
    padding: 12.5px 12.5px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--three);
    align-self: center;
    align-items: center;
}
.plan-filter-icon-box li:last-child{
    padding: 12.5px 16px;
    border-radius: 10px;
    margin-left: 8px;
}
.plan-filter-icon-box li:last-child a{
    align-items: center;
    gap: 8px;
}
/*ВЫБОР КВАРТИРЫ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Секция фильтра квартир*/
.apartment-filter-section{
    gap: 32px;
}
.apartment-filter-box{
    gap: 24px;
}
.apartment-filter-top-box{
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.apartment-filter-box-mobile{
    display: none;
}
.apartment-filter-choose-jk{
    gap: 8px;
    width: calc(23.33% - 32px);
}
.apartment-filter-form{
    border-radius: 25px;
    border: 1px solid var(--two);
    padding: 14px 16px;
    background-color: var(--seven);
    align-items: center;
    justify-content: center;
    height: 20px;
}
.apartment-filter-form select{
    background-color: var(--seven);
    border: 0;
    width: calc(100%);
    height: 100%;
}
.apartment-filter-storey-price{
    gap: 8px;
    width: calc(23.33% - 32px);
}
.apartment-filter-storey-price>input{
    border-radius: 25px;
    border: 1px solid var(--two);
    padding: 14px 16px;
    background-color: var(--seven);
    height: 20px;
}
.apartment-filter-rooms{
    gap: 8px;
    width: calc(30%);
}
.apartment-filter-rooms-box{
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    height: 100%;
}
.apartment-filter-rooms-item{
    padding: 10px 8px;
    background-color: var(--one);
    opacity: .6;
    width: 19px;
    height: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.apartment-filter-rooms-item:hover,
.apartment-filter-rooms-item:active,
.apartment-filter-due-date-item:hover,
.apartment-filter-due-date-item:active{
    background-color: var(--six);
    opacity: 1;
    transition: 0.5s;
}
.apartment-filter-rooms-item:first-child{
    border-radius: 25px;
    width: max-content;
}
.apartment-filter-rooms-checked{
    background-color: var(--one);
    opacity: 1;
}
.apartment-filter-due-date{
    gap: 8px;
    width: calc(23.33% - 24px);
}
.apartment-filter-due-date-box{
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    height: 100%;
}
.apartment-filter-due-date-item{
    padding: 10px 8px;
    background-color: var(--one);
    opacity: .6;
    height: 15px;
    border-radius: 25px;
    width: max-content;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}
.apartment-filter-due-date-checked{
    background-color: var(--one);
    opacity: 1;
}
.apartment-filter-finishing{
    gap: 8px;
    width: calc(10.33% - 24px);
}
.apartment-filter-finishing-box{
    gap: 8px;
}
.apartment-filter-finishing-item{
    gap: 8px;
}
.apartment-filter-type-house{
    gap: 8px;
    width: calc(28.33%);
}
.apartment-filter-type-house-box{
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}
.apartment-filter-type-house-item{
    gap: 8px;
}
.apartment-filter-btn{
    width: calc(38% - 48px);
    justify-content: end; 
    gap: 40px;
    align-items: center;
}
.apartment-filter-btn a{
    height: max-content;
    align-items: center;
}
.apartment-filter-btn a>div{
    align-items: center;
    height: 100%;
}
.apartment-filter-btn a svg{
    align-items: center;
    height: 100%;
}
.choose-apartment{
    gap: 16px;
}
.choose-apartment-head{
    gap: 16px;
    justify-content: space-between;
    padding: 0px 20px;
}
.choose-apartment-head p{
    width: calc(16.66% - 16px);
}
.choose-apartment-box{
    gap: 16px;
}
.choose-apartment-item{
    gap: 16px;
    justify-content: space-between;
    background-color: var(--three);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .2);
    padding: 20px;
    align-items: center;
}
.choose-apartment-item div{
    padding-right: 24px;
    width: calc(16.66% - 16px - 24px);;
    align-items: center;
    text-align: center;
    gap: 14px;
}
.choose-apartment-item>p{
    width: calc(16.66% - 16px);
}
.choose-apartment a{
    margin: 0 auto;
    margin-top: 32px;
}
/*КАЛЬКУЛЯТОР ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.calculator h1{
    margin-bottom: 64px;
}
.calculator-box{
    gap: 24px;
    width: calc(33% - 18px);
    padding-right: 18px;
    border-right: 1px solid var(--foo);
}
.calculator-form{
    border-radius: 25px;
    border: 1px solid var(--two);
    padding: 14px 16px;
    background-color: var(--seven);
    align-items: center;
    justify-content: center;
    height: 20px;
}
.calculator-form select{
    background-color: var(--seven);
    border: 0;
    width: calc(100%);
    height: 100%;
}
.calculator-input{
    border-radius: 25px;
    border: 1px solid var(--two);
    padding: 14px 16px;
    background-color: var(--seven);
    height: 20px;
}
.calculator-input:last-child{
    margin-bottom: 24px;
}
.calculator-two-text{
    justify-content: space-between;
}
.calculator-result{
    gap: 12px;
    width: 66.66%;
    margin-left: 18px;
}
.calculator-result-head{
    gap: 8px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.calculator-result-head p{
    width: calc(25% - 8px);
}
.calculator-result-box{
    gap: 12px;
    width: 100%;
    margin-bottom: 12px;
}
.calculator-result-item{
    gap: 8px;
    background-color: var(--three);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}
.calculator-result-item>div:first-child{
    width: calc(25% - 48px);
    height: 40px;
    justify-content: space-between;
}
.calculator-result-text-box{
    width: calc(25% - 48px);
    height: 40px;
}
.calculator-result-item>div:first-child img{
    object-fit: contain;
}
.calculator-result-text-box p{
    width: calc(100%);
}
.calculator-result-text-box p:first-child{
    display: none;
}
/*ВСЕ ОБ ИПОТЕКЕ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.credit-info{
    gap: 32px;
}
.credit-info h1{
    width: 50%;
}
.credit-info-box{
    gap: 40px;
}
.credit-info-box p{
    width: calc(50% - 20px);
}
.credit-info-btn-box{
    width: calc(50% - 20px);
    justify-content: space-between;
}
.credit-info-btn-box>div{
    width: calc(100%);
    height: 30vh;
}
.credit-info-doc{
    gap: 32px;
    margin-top: 32px;
}
.credit-info-doc-main-box{
    gap: 40px;
}
.credit-info-doc-box{
    width: calc(50% - 20px);
    gap: 30px;
}
.credit-info-doc-item{
    gap: 16px;
}
/*КОНТАКТЫ ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.contact{
    gap: 32px;
}
.contact-main-box{
    gap: 40px;
}
.contact-text-box{
    width: calc(40% - 20px);
    gap: 24px;
}
.contact-main-text{
    gap: 12px;
    margin-bottom: 24px;
}
.contact-main-text>div{
    gap: 8px;
}
.contact-btn-box{
    flex-wrap: wrap;
}
.contact-map-box{
    width: calc(60% - 20px);
    border-radius: 10px;
}
/*ФУТЕР ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer{
    gap: 42px;
    padding: 48px 0 24px 0;
    background-color: var(--three);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); 
}
.footer-top-box{
    gap: 24px
}
.footer-top-item{
    width: calc(33% - 24px);
}
.footer-top-item:first-child,
.footer-top-item:last-child{
    justify-content: space-between;
}
.footer-logo{
    width: 50%;
    margin-bottom: 30px;
}
.footer-logo img{
    object-fit: contain;
}
.footer-feedback{
    gap: 16px;
}
.footer-top-item:nth-child(2){
    gap: 20px;
}
.footer-top-item:nth-child(3){
    gap: 14px;
}
.footer-bottom-item{
    width: calc(100%);
    margin-top: 64px;
    gap: 24px;
}
a.footer-bottom-item {
    align-self: flex-start;
    justify-self: end;
}
.footer-bottom-item:nth-child(3){
    gap: 20px;
}
.footer-social{
    width: 44px;
    height: 44px;
}